<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>zhaomiing</string>
	<key>Builder Version</key>
	<string>10600.3.14</string>
	<key>CFBundleDisplayName</key>
	<string>statusbar-lite</string>
	<key>CFBundleIdentifier</key>
	<string>com.zhaomiing.statusbar-lite</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>index.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>showaddress.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Show the address of a link on the left bottom of the safari window just like google chrome.</string>
	<key>DeveloperIdentifier</key>
	<string>CA9Y298CEX</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://www.prototypo.me</string>
</dict>
</plist>
